<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Dev Skills Lab</title>
</head>
<body>
    <h3><%= skills.skill %></h3>
    <h3>Have Learned: <%= skills.know ? 'Yes' : 'No' %></h3>
  </body>
</html>